/* -=-=-=-=-=- body -=-=-=-=-=- */
html, body {
  margin: 0;
  padding: 0;
}

li {
    list-style-type: none;
    }
/* -=-=-=-=-=-=-=-=-=-=-=-= MENU -=-=-=-=-=-=-=-=-=-=-=-= */
.naviBtn{
    position: fixed;
    top: 0;
    left: 0;
    width: 4em;
    height: 4em;
    z-index: 1001;
    cursor: pointer;
}

.menuBtn{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc
}

.menuBtn:after{
    position: absolute;
    top: 3em;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: center;
}

.menuBtn span{
  position: absolute;
	width: 50%;
	height: 3px;
	left: 0;
	right: 0;
	top: 0em;
	bottom: 0;
	margin: auto;
	background: rgb(255, 255, 255);
	-webkit-transition: .3s ease-out; transition: .3s ease-out;
    /* トップ-1.5に中心基準に横50％たて1.3px背景白の四角　*/
}


.menuBtn span.menuBtn1 {
	top: -1.5em;
/* 下　*/
}


.menuBtn span.menuBtn3 {
	top: 1.5em;
/*  上　*/
}

.show .menuBtn .menuBtn1{
    -webkit-transform: translateY(.75em) rotate(-45deg);
    transform: translateY(.75em) rotate(-45deg);
}

.show .menuBtn .menuBtn2 {
    opacity: 0;
    -webkit-transform: translateX(1em);
	transform: translateX(1em);
}

.show .menuBtn .menuBtn3{
    -webkit-transform: translateY(-.75em) rotate(45deg);
    transform: translateY(-.75em) rotate(45deg);
}
/*  -=-=-naviWrap-=-=- */
.naviWrap{
    position: fixed;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  text-align: center;
    opacity: 0;
    background: rgba(30, 30, 30, 0.7);
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: .3s ease-out; transition: .3s ease-out;
    overflow: auto;
}

/* naviWrap---show */
.show.naviWrap{
    opacity: 1;
    visibility: visible;
}

/*  -=-=-menubuttons-=-=- */
.menuButtons{
  position: absolute;
  width: 20%;
  height:100%;
  top: 0%;
  background-color: black;
  color: white;
  z-index: 1001;
}

.menuButtons li{
  position: relative;
  font-size: 20px;
    width: 100%;
    height: 3em;
    border-top : solid 2px #fff;
    cursor: pointer;
}

/*  -=-=-settings-=-=- */
/*  -=-=-name-=-=- */
.namesetting{
   position: fixed;
	  width: 80%;
	  height: 100%;
    top: 0;
    left: 20%;
	  text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: .3s ease-out; transition: .3s ease-out;
    overflow: auto;
}
.show.namesetting{
  opacity: 1;
    visibility: visible;
}

.nameSettingArea{
  position: absolute;
  left:60px;
  top: 80px;
}

#nameInput{
  height: 1.5em;
  font-size: 40px;
  background: none;
  color: #fff;
  border-bottom:#fff 2px solid;
}
#nameButton{
  font-size: 40px;
  height: 60px;
  width: 120px;
  border: none;
  color: #fff;
  background: #bbb;
}

/*  -=-=-facialEmotion-=-=- */
.facialEmotionSetting{
   position: fixed;
	  width: 80%;
	  height: 100%;
    top: 0;
    left: 20%;
	  text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: .3s ease-out; transition: .3s ease-out;
    overflow: auto;
}

.show.facialEmotionSetting{
  opacity: 1;
    visibility: visible;
}
.febtns{
  position: relative;
  left:0;
  right: 0;
  top: 50%;
}
.febtn
{
  background-color: #bbb;
  color: #fff;
  font-size: 40px;
  height: 2em;
}
/*  -=-=-color-=-=- */
.colorSetting{
   position: fixed;
	  width: 80%;
	  height: 100%;
    top: 0;
    left: 20%;
	  text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: .3s ease-out; transition: .3s ease-out;
    overflow: auto;
}
.show.colorSetting{
  top: 10%;
  opacity: 1;
    visibility: visible;
}
.hslsliders{
  top: 20%;
}

.hsl_str{
  color: #fff;
}

.colExample{
  width: 300px;
  height: 60px;
}
.colExample span{
  position: absolute;
	width: 120px;
	height: 120px;
	left: 0;
	right: 0;
	top: 0em;
	bottom: 0;
	margin: auto;
}
.colorSetting span.colExample_r{
  left: -240px;
}
.colorSetting span.colExample_g{
  left:0px;
}
.colorSetting span.colExample_b{
  left: 240px;
}


/* -=-=-=-=-=-  background -=-=-=-=-=- */
.fixed{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top : 0;
  bottom: 0;
}

.unyounyo{
  position: relative;
  top: 40%;
  right: 0;
}
  
/* -=-=-=-=-=- text -=-=-=-=-=- */
.buttons{
  position: relative;
  top: 20%;
  left : 70%;
}
#message
{
  width: 20em;
  height:  1.5em;
}




/*チャットの中身*/
.chatArea
{
  position: relative;
  margin-left: 10%;
  margin-right: 40%;
}

.messages {
  margin: 0;
  overflow-y: scroll;
  height: 100%;
  padding: 10px 20px 10px 20px;
}

.chat{
  margin-top: 0.5em;
  height : 2em;
}

.my{
  text-align: right;
  padding-left: 3em;;
}
.coment{
  font-size: 15px;
  display: inline;
  position: relative;
  border-radius: 0.3em;
  padding: 0.6em;
  height: 2em;
  text-align: right;
  border: none;  /* 枠線を消す */
  outline: none; 
}
.name{
  font-weight: bold;
}

.reaction{
  color: #666;
}
.re{
  font-weight: bold;
  color: black;
}