/* -=-=-=-=-=- body -=-=-=-=-=- */
html, body {
  margin: 0;
  padding: 0;
}

li {
    list-style-type: none;
    }
/* -=-=-=-=-=-=-=-=-=-=-=-= MENU -=-=-=-=-=-=-=-=-=-=-=-= */
.naviBtn{
    position: fixed;
    top: 0;
    left: 0;
    width: 4em;
    height: 4em;
    z-index: 1001;
    cursor: pointer;
}

.menuBtn{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc
}

.menuBtn:after{
    position: absolute;
    top: 3em;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: center;
}

.menuBtn span{
  position: absolute;
	width: 50%;
	height: 2px;
	left: 0;
	right: 0;
	top: 0em;
	bottom: 0;
	margin: auto;
	background: rgb(255, 255, 255);
	-webkit-transition: .3s ease-out; transition: .3s ease-out;
    /* トップ-1.5に中心基準に横50％たて1.3px背景白の四角　*/
}


.menuBtn span.menuBtn1 {
	top: -1.5em;
/* 下　*/
}


.menuBtn span.menuBtn3 {
	top: 1.5em;
/*  上　*/
}

/* -=-=-=-=-=-  background -=-=-=-=-=- */
.fixed{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top : 0;
  bottom: 0;
}

.unyounyo{
  position: relative;
  top: 44%;
  right: 0;
}
  
/* -=-=-=-=-=- text -=-=-=-=-=- */
.buttons{
  position: relative;
  top: 20%;
  left : 70%;
}
#message
{
  width: 20em;
  height:  1.5em;
}





/*チャットの中身*/
.chatArea
{
  position: relative;
  margin-left: 10%;
  margin-right: 40%;
}

.messages {
  margin: 0;
  overflow-y: scroll;
  height: 100%;
  padding: 10px 20px 10px 20px;
}

.chat{
  margin-top: 0.5em;
  height : 2em;
}

.my{
  text-align: right;
  padding-left: 3em;;
}
.coment{
  display: inline;
  position: relative;
  border-radius: 0.3em;
  padding: 0.6em;
  height: 2em;
  text-align: right;
  border: none;  /* 枠線を消す */
  outline: none; 
}

.reaction{
  position: relative;
  margin-top: 1em;
  height: 1em;
  width: 1em;
  display: inline;
  border-radius: 50%;
}