html, body {
  margin: 0;
  padding: 0;
}
.fixed{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top : 0;
  bottom: 0;
}

.unyounyo{
  position: relative;
  top: 44%;
  right: 0;
}
  

.buttons{
  top :10%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.chat{
  margin-top: 1.5em;
  height : 2em;
}

.main{ 
  margin-left: 20%;
  
  margin-right: 30%;
}
.my{
  border-radius: 0.2em;
  display: inline;
    padding: 0.6em;
}
li {
  border-radius: 0.2em;
    list-style-type: none; /*点を非表示*/
    position: relative; /*基準位置*/
    padding-left: 0.6em;
    }